@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #A3BFD9, #6581A6 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #767e8e8f ;
    width: 600px;
    padding: 10%;
    margin: auto;

}

h1 {
    color: #262626;
    text-align: center;
    text-shadow: 1px 1px 2px #0c0c0ca4;
}

h2 {
    color: #364559;
}

p {
    text-align: justify;
}